body {
    background-color: white;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container > header {
    padding: 20px;
    background-color: rgb(54, 112, 134);
    color: white;
    display: flex;
    justify-content: space-between;
}
nav a {
    margin: 16px;
    color: white;
    text-decoration: none;
}
section {
    padding: 20px;
    font-size: 32px;
    line-height: 48px;
}

.about-detail {
    display: flex;
    align-items: flex-start;

}
footer {
    padding: 30px;
    background-color: black;
    color: white;

}
.about-detail img {
    margin-right: 16px;
    margin-bottom: 16px;
}
.work{
    display: flex;
    flex-wrap: wrap;
}