body {
    background-color: white;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container > header {
    padding: 20px;
    background-color: rgb(211, 211, 211);
    color: white;
    display: flex;
    justify-content: space-between;
}
nav a {
    margin: 16px;
    color: white;
}
section {
    padding: 20px;
}